body {


	background-color: #93a5c1;

}

p {

	font-size: 50px;
	color: #3c4451;

	
}


ol {

	font-size: 35px;
	color: #3c4451; 
}

.figura {

	background-color: #474d56;
	width: 400px;
	height: 400px;
}

.okrag {

	background-color: #474d56;
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.gwiazdka {

	background-color: #474d56;
	border-right: 50px solid transparent;
	border-left: 50px;
	height: 400px;
	width: 4000px;



}